.article-page {
  min-height: 100vh;
  background: #f8fafc;
  padding: 110px 20px 80px;
}

.article-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

/* BACK BUTTON */

.article-back {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 45px;
  color: white;
  background-color: black;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  transition: 0.2s ease;
  border: 2px solid transparent;
  border-radius: 10px;
}

.article-back:hover {
  color: #111827;
  background-color: white;
  border: 2px solid black;
  transform: translateX(-3px);
}

/* CATEGORY */

.article-category {
  display: inline-block;
  padding: 7px 13px;
  border-radius: 999px;
  background: #e8f0ff;
  color: #2563eb;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* TITLE */

.article-title {
  max-width: 850px;
  margin: 0 0 22px;
  color: #0f172a;
  font-size: clamp(38px, 6vw, 64px);
  line-height: 1.08;
  letter-spacing: -2px;
  font-weight: 800;
}

/* EXCERPT */

.article-excerpt {
  max-width: 760px;
  margin: 0 0 25px;
  color: #64748b;
  font-size: 19px;
  line-height: 1.7;
}

/* META */

.article-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 45px;
  color: #64748b;
  font-size: 14px;
}

/* HERO IMAGE */

.article-image {
  width: 100%;
  height: 480px;
  position: relative;
  overflow: hidden;
  border-radius: 24px;
  margin-bottom: 55px;
  background: #e2e8f0;
}

.article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ARTICLE CONTENT */

.article-content {
  max-width: 760px;
  margin: 0 auto;
}

.article-content section {
  margin-bottom: 45px;
}

.article-content h2 {
  font-weight: bold;
  margin: 0 0 16px;
  color: #0f172a;
  font-size: 29px;
  line-height: 1.25;
  letter-spacing: -0.5px;
}

.article-content p {
  margin: 0 0 18px;
  color: #475569;
  font-size: 17px;
  line-height: 1.9;
}

/* MOBILE */

@media (max-width: 700px) {
  .article-page {
    padding: 90px 18px 60px;
  }

  .article-back {
    margin-bottom: 35px;
  }

  .article-title {
    font-size: 38px;
    letter-spacing: -1.2px;
  }

  .article-excerpt {
    font-size: 17px;
    line-height: 1.65;
  }

  .article-meta {
    margin-bottom: 30px;
  }

  .article-image {
    height: 280px;
    border-radius: 18px;
    margin-bottom: 40px;
  }

  .article-content h2 {
  font-weight: bold;
    font-size: 25px;
  }

  .article-content p {
    font-size: 16px;
    line-height: 1.8;
  }
}

@media (max-width: 420px) {
  .article-title {
    font-size: 34px;
  }

  .article-image {
    height: 230px;
  }
}
