body
{
  padding: 10px 3%;
  box-sizing: border-box;
  color: black;
  background-color: white;

}

:root{
  --purple: #5532e9;
  --purple-dark: #4320d0;
  --navy: #101438;
  --text: #171a36;
  --muted: #666b82;
  --border: #e8e8f1;
  --bg: #ffffff;
  --light-purple: #f6f3ff;
}

.navbar
{
  display: flex;
  text-align: center;
  align-items: center;
  top: 0;
  padding: 30px;
  left: 10px;
  right: 10px;
  position: fixed;
  z-index: 9999;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.452);
  
}

.navbar .left
{
  cursor: pointer;
  
}

.navbar .left .campusplug
{
  color: var( --purple);

}

.navbar .left #logo
{
  color: var( --purple);

}

.navbar .left h1
{
  font-size: 24px;
  font-weight: 800;
  display: flex;
  gap: 10px;
  align-items: center;

}

.navbar .center
{
  display: flex;
  text-align: center;
  gap: 40px;
  margin: auto;

}

.navbar .center p
{
  font-size: 13px;
  transition: all 0.5s ease;
  border-bottom: 1.5px solid transparent;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 5px;

}

/* active */
.active
{
  color: var( --purple);
  border-bottom: 1.5px solid #185ca8;
  transition: all 0.5s ease;
  font-weight: 800;

}

.navbar .center p:hover
{
  transition: all 0.5s ease;
  transform: scale(0.95);
  border-bottom: 1.5px solid black;

}

.navbar .right
{
  display: flex;
  text-align: center;
  align-items: center;
  gap: 20px;

}

.navbar .right .search
{
  display: flex;
  text-align: center;
  align-items: center;
  /* border: 1px solid rgb(173, 168, 168); */
  border-radius: 10px;
  cursor: text;
  box-shadow: 4px 5px 30px rgb(173, 168, 168);

}

.navbar .right .search p
{
  transition: all 0.2s ease;
  margin-right: 20px;
  cursor: pointer;
  
}

.navbar .right .search p:active
{
  color: #666b82;
  transition: all 0.2s ease;
  transform: scale(0.98);

}

.navbar .right .search input
{
  border: none;
  padding: 15px;
  border-radius: 10px 0 0 10px;
  font-size: 13px;

}

.navbar .right .no-results
{
  background-color: #f5f5f5;
  color: #333;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 120px;

}

.navbar .right button
{
  border: none;
  color: white;
  cursor: pointer;
  background-color: var( --purple);
  font-size: 13px;
  font-weight: bold;
  padding: 15px 20px;
  transition: all 0.5s ease;
  border-radius: 10px;
  border: 2px solid transparent;
  
}

.navbar .right button:hover
{
  transition: all 0.5s ease;
  background-color: white;
  color: #195faf;
  border: 2px solid #195faf;

}

.navbar .right button:active
{
  transition: all 0.5s ease;
  transform: scale(0.97);
  background-color: #195faf;
  color: white;
  border: 2px solid transparent;
  
}